{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/styles.css' %}">
    <title>User Login</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h2 class="text-center">User Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
            <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
    </div>
</body>
</html>
